<p>
Obrigado por se cadastrar no Projeto Nerdtrack!<br>
<br>
Utilize o link abaixo para confirmar seu login e comece a participar!<br>
<br>
<%= new_user_confirmation_url(
      :user_id => @user,
      :token   => @user.confirmation_token,
      :encode  => false) %>


</p>
<hr>
<a href="http://www.nerdtrack.com.br">Nerdtrack.com.br</a> - A trilha sonora do Nerdcast