<div class="doar">
	<p>O Nerdtrack é um projeto sem fins lucrativos, nos ajude a manter ele no ar fazendo uma doação, Obrigado!</p>
	<div>
		<ul class="list">
		<li>
			 <form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/doacao.jhtml" method="post">
			 <input type="hidden" name="email_cobranca" value="bot@nerdtrack.com.br">
			 <input type="hidden" name="moeda" value="BRL">
			 <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacao/FacaSuaDoacao.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!">
			 </form>
		</li>
		<li>
			<a href="http://www.dreamhost.com/donate.cgi?id=12711">
				<img border="0" alt="Donate towards my web hosting bill!" src="https://secure.newdream.net/donate4.gif" />
			</a>
		</li>
		</ul>
	</div>
</div>