<h1>Nerdtrack &gt;&gt; Sobre</h1>

<h2>O NerdTrack</h2>
<p>

	O <b>Nerdtrack</b> é um experimento, um teste do conhecimento coletivo para reunir informações. Sua proposta é simples: reunir todas as músicas e as melhores frases que surgiram nestes anos todos no Nerdcast. Idealizado por Danilo Martins, o projeto foi inicialmente implementado em um sistema de blog com contribuições através de comentários, porém, com a entrada de Rafael Dohms o projeto ganhou um código independente para facilitar a interação de usuários entre si e na contribuição de informações.
</p>
<p>
	A premissa do projeto é de que a informação se baseia na massa, na contribuição de diversas fontes. Com um número grande o bastante de ouvintes do Nerdcast a teoria diz ser possível identificar todas as músicas utilizadas. Possibilitando a contribuição destas diversas fontes, podemos viabilizar a reunião de todos estes dados.
</p>
<p>
	Para participar, registre o seu usuário, escolha o epísodio e mande sua contribuição. Caso discorde de alguma música o sistema irá em breve possibilitar este tipo de interação.
</p>
<p>
	<em>"Tudo começou com a ideia de acabar com a curiosidade musical dos milhares de fãs do Nerdcast, o primeiro podcast nerd do Brasil. Sempre que tocava uma música legal em algum episódio, o pessoal ia correndo perguntar que música era aquela, fosse nos comentários, orkut, twitter ou em casos mais extremos, cortavam o trecho e subiam para o YouTube, na esperança de que alguém que soubesse a resposta pudesse acabar logo com a dúvida. Bom, teoricamente a ideia funcionava, mas o desgaste de ter que procurar a resposta em vários sites e esperar pela resposta, apertando o maldito F5, realmente não valia o esforço. Resolvi então criar um blog para que, com o tempo, todas as músicas fossem sendo preenchidas através de comentários. Além disso, as melhores frases já proferidas também entrariam na lista. Mas isso também era bem desgastante. Foi então que, no meio dos primeiros visitantes do blog, um sujeito se destacou pelo seu esforço e pela sua vontade de ver o Nerdtrack ir para o infinito - e além. Seu nome é Rafael Dohms e, graças a ele, o Nerdtrack está neste formato: mais rápido e mais adepto a receber suas colaborações, nerd."</em><br>
	<b>Danilo Martins</b>
</p>
<p>
	<em>"Decidi auxiliar o Danilo neste projeto pois estava procurando um projeto que poderia executar em meu tempo livre, e experimentar algumas tecnologias novas em busca de novos conhecimentos. Ele possuia apenas um blog que dificultava a contribuição dos ouvintes, eu apenas criei um sistema que pudesse facilitar a ideia que ele já tinha."</em><br>
	<b>Rafael Dohms</b>
</p>
<h2>
	O Nerdcast
</h2>
<p>
	É o primeiro podcast totalmente nerd do Brasil. Criado em março de 2006, o Nerdcast é um papo bastante informal entre os criadores do site Alexandre Ottoni e Deive Pazos, e convidados variados. Eles conversam sobre os mais derivados assuntos do mundo nerd: filmes, tv, quadrinhos, história e literatura. No entanto, o desafio do podcast é manter o foco, pois quando o besteirol toma conta, nem convidados, nem apresentadores, nem ouvintes conseguem conter suas gargalhadas.
</p>
<p>
	Mas isso você já sabia, afinal, estamos falando do melhor podcast do mundo!!!
</p>
