/* reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/* estrutura */
body { background: #242A32; color:#fff; font: 12px 'Lucida Grande',Verdana,Arial,Sans-Serif;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
p {margin: 1em 0;}

.centerSite {width: 1000px; margin: 0px auto; position: relative;}
.float-right {float: right;}
.float-left {float: left;}

#top {background:url(../images/top.gif) repeat-x; height:10px;}
#header {background: #171a1f;}
#header .version_info {position: absolute; top: 140px; left: 190px;}
#headerimg {background: #171a1f url(../images/nerdtrack.gif) no-repeat center left; height: 200px;}
#headerimg p { text-indent:-9999em}
#headerimg a {display: block; height: 200px;}

#loginbar {background: #242A32; height: 30px;}
#loginbar ul.botoes {float: right;}
#loginbar .botoes li {float: left;}
#loginbar .botoes li, #loginbar .logado {background: #171a1f; margin: 0px 5px;-moz-border-radius-bottomleft: 10px; -webkit-border-radius-bottom-left: 10px; border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px; -webkit-border-radius-bottom-right: 10px; border-bottom-right-radius: 10px;}
#loginbar .logado {padding: 3px 10px; float: right;}
#loginbar .botoes a {display: block; padding: 3px 10px; text-decoration:none; }
#loginbar .botoes a:hover {color: #fff; padding: 3px 10px 7px;}

#nav, #nav li {float: left;}
#nav li {}
#nav a {display: block; padding: 3px 10px; text-decoration:none; margin: 6px 5px 0;background: #2f353c;-moz-border-radius-topleft: 10px; -webkit-border-radius-top-left: 10px; border-top-left-radius: 10px;-moz-border-radius-topright: 10px; -webkit-border-radius-top-right: 10px; border-top-right-radius: 10px}
#nav a:hover {color: #fff; padding: 7px 10px 3px; margin: 2px 5px 0;}

#container {background: #2f353c; padding: 10px; overflow: auto;}
#info, #stats, #flash_msg  {background: #242A32;  width: 300px;}
.content, .contentfull, .contenthalf {background: #fff; width: 610px; color: #000; overflow: auto;}
#flash_msg, .contentfull {width: 960px;}
.contenthalf {width: 455px; float: left;}
.m10 {margin-right: 10px;}
#info, #stats, .content, .contentfull, .contenthalf, #flash_msg {padding: 20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-bottom: 10px;}

.content a, .contentfull a, .contenthalf a, #flash_msg a {color: #0E3C61;}

#footer  {text-align: center; padding: 10px; clear: both;}
#footer p, #header p {margin: 0;}

h1, h2, h3, h4, h5, h6 {font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif; font-weight: bolder;}

h1, h2 {text-transform: uppercase; font-size: 16px; }
h2 {font-size: 14px;}
h1, h2, a {color: #0E3C61;}

.sidebar h1, .sidebar h2 {color: #FFD014;}
.sidebar a, #footer a, #header a {color: #FFD014;}

/* home */
.sidebar {float: right;}

.episodios {padding-top: 1em;}
.episodios li {font-size: 13px; font-weight: bold;}
.episodios li a {display: block; background: #ccc; color: #333;}
.episodios li.odd a {background: #eaeaea;}
.episodios li a:hover {text-decoration: none; background: #2f353c; color: #fff;}
.episodios li span {display: block; float: left; text-align: right; width: 50px; padding-right: 5px;}

#episodio_full_id {margin-left: 10px;}

/* detalhe */
.time {color: #aaa; float: left; padding-right: 5px;}
.song_list li, .quote_list li {margin: 1em 0;}
.credit {padding-left: 68px;}

/* edit profile */
li#user_username_input {width: 74%;}
li#user_username_input input {width:100%;}
#user_username_input, #uname_unique {float: left; }
#uname_unique {width: 10%; padding: 1.8em 1em 0;}
#user_name_input {clear: both;}

/* unintegrated  - created by rdohms - please adjust and move to proper place*/
.ep_stats{
	font-size: 70%;
	padding-left:4px;
}
.add_form {
	width: 350px;
	position: absolute;
	left: 0;
}
.add_form .content {
	margin-bottom: 0;
	width: auto;
}

.pagination { margin-top: 30px; width:100%; text-align: center;}
.pagination .current { font-size: 150%; font-weight: bold; }
.pagination .disabled { color: #AAA; }

form.quickload { width: 200px; float:right;}
form.quickload fieldset.buttons { padding-left: 0%; float: right; }
form.quickload .buttons li { width: 25px; margin: 0px;}
form.quickload .buttons li.string { width: 130px; }
form.quickload .buttons label { display: inline; }
form.quickload .buttons label abbr { display: none; }
form.quickload .buttons li.string input { width: 50px; }

.doar { width: 100%; text-align: center; margin-top: 15px; border-top: 1px dashed #CCC;}
.doar .list { vertical-align: middle;}
.doar .list li { display: inline; padding: 8px;}
.doar .list li form { display: inline;}