BODY{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#CCDEE8 none repeat scroll 0 0;
	color:#333333;
	font-family:Arial;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0 auto;
	width: 1024px;
}

A{
	text-decoration: none;
}

A:hover;{
	color: #369;
}

A IMG{
	border: 0px;
}

/** 
* Geral Layout
*/

#container{
	background-color: #FFFFFF;
	width: 988px;
	float: left;
}

#loginbar{
	background-color: #369;
	color: #FFFFFF;
	padding: 7px;
	text-align: right;
	font-size: .9em;
}

#loginbar a{ color: #FFFFFF; text-decoration: none; } 
#loginbar a:hover;{ color: #FFFFFF; text-decoration: underline;} 

#header{
	width:988px;
	height:85px;
	background-color: #69C;
	border-bottom: 5px solid #369;
}

#flash_msg{
	background-color: #FDF3C6;
	text-align: center;
	font-weight: bold;
	color: #D7AA12;
	padding: 8px;
}

#content{
	padding: 10px;
	min-heigth: 200px;
}

#content A{ color: #369; text-decoration: none; } 
#content A:hover { text-decoration: underline;}

#footer{
	text-align: center;
	background:#CCDEE8 none repeat scroll 0 0;
	padding-top: 10px;
	border-top: 3px solid #369;
}

#footer P{
	margin: 0px; padding: 0px;
}

#footer .copy{
	font-size: .7em;
}

#footer .icons{
	
}


/** 
* SHOW Episodio
*/

H1{
	
}

H2{
	color: #CCC;
}

.number{
	font-weight: bolder;
	font: 150% "Arial Black", "Trebuchet MS", Verdana, sans-serif;
	color: #369;
}

.ep-icons{
	padding: 5px 0;
	margin: -5px 0 -15px -5px;
}
.ep-icons a{ }	
.ep-icons img{ border: 0px; padding: 0 5px 0 5px; }


.quote_list         { list-style:none;}
.quote_list LI      { clear: both; padding: 0 0 10px 0;}
.quote_list .time   { float: left; color: #AAA; font-size: 1em; padding:5px 5px; height: 30px; }
.quote_list .quote	{ }
.quote_list .quote B{ font-size: 1.5em; }
.quote_list .credit { font-size: 0.7em; }
.quote_list .credit A{ color: #569; font-weight:bold; }

.song_list         { list-style:none;}
.song_list LI      { clear: both;  padding: 0 0 10px 0;}
.song_list .time   { float: left; color: #AAA; font-size: 1em; padding:5px 5px; height: 30px; }
.song_list .song   { }
.song_list .song B { font-size: 1.5em; }
.song_list .credit { font-size: 0.7em; }
.song_list .credit A{ color: #569; font-weight:bold; }

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear{
	{ clear: both;}
}
.add_form{
	width: 350px;
	position: absolute;
}