<% 
counts = Counter.get_counts  
%>
<div id="stats">
	<h1>NerdStats</h1>
<ul>
	<li><b><%= counts[:users] %></b> Contribuidores</li>
	<li><b><%= counts[:episodios] %></b> Episódios</li>
	<li><b><%= counts[:quotes] %></b> Frases</li>
	<li><b><%= counts[:tracks] %></b> Músicas</li>
</ul>
</div>