<div class="contentfull">
<h2>Esqueci a senha</h2>

<p>
Preecha o campo abaixo e você receberá um email com link para criar uma nova senha.
</p>

<% semantic_form_for :password, :url => passwords_path do |form| -%>
  <% form.inputs do -%>
    <%= form.input :email, :label => "Email" %>
  <% end -%>
  <% form.buttons do -%>
    <%= form.commit_button "Enviar" %>
  <% end -%>
<% end -%>
</div>

