<% content_for :title, " - Episódios" %>

<h1>Escolha um Episódio</h1>

<ul>
	<% @episodios.each do |episodio| %>
	<li>
		<b><%= link_to "#"+episodio.numero.to_s+episodio.parte.to_s, episodio %></b> <%= link_to episodio.titulo, episodio %>
	 </li>
	<% end %>
</ul>

