<% content_for :title, " - Episódios" %>
<%= render(:layout => 'blocks/counter') %>

<div class="content">
	<h1>Escolha um Episódio</h1>
	<ul class="episodios">
		<% @episodios.each do |episodio| %>
		<li><%= link_to "<span>#"+episodio.numero.to_s+episodio.parte.to_s+ "</span> - " +episodio.titulo, episodio %></li>
		<span class="ep_stats">(<%= episodio.tracks.count(:all) %> músicas / <%= episodio.quotes.count(:all) %> frases)</span>
		<% end %>
	</ul>
</div>

<script type="text/javascript">
	$('ul.episodios li:odd').addClass("odd");
</script>