<% if !current_user.nil? && current_user.admin? %>
	<p class="footer_icons">
			<%= link_to image_tag("icons/page_add.png"), new_episodio_path %>
			<%= link_to image_tag("icons/group.png"), users_path %>
	</p>
<% end -%>
<p class="copy">&copy; 2009 - Danilo &amp; Rafael Dohms</a></p>
<p class="">
	<%= link_to "Sobre", :controller => "nerdtrack", :action => "sobre" %> | 
	<%= link_to "Contato", :controller => "nerdtrack", :action => "contato" %>
</p>
